p{
    color: grey;
    text-align: left;
}
h4{
    color: thistle;
}
.life{
    color: indigo;

}
#directions{
    color: lightslategrey;
}
.beginning{
    color: saddlebrown;
}
.Moringa{
    color: sienna;
}
.hobbies{
    color: tomato;
}