p{
    color: grey;
    text-align: left;
}
h4{
    color: thistle;
    text-align: center;
}
.life{
    color: indigo;

}
#directions{
    color: lightslategrey;
}
.beginning{
    color: saddlebrown;
}
.Moringa{
    color: sienna;
}
.hobbies{
    color:gray;
    text-shadow: gray;
    font-style:italic;
}
.img{
    float: right;
    background-color: lightslategray;
    padding: 25px;
    border: 8px solid gray;
    font-weight: 20px;
    margin: 60px solid gray;
}