p{
    color: grey;
    text-align: left;
}
h4{
    color: thistle;
    text-align: center;
}
.life{
    color: indigo;

}
#directions{
    color: lightslategrey;
}
.beginning{
    color: saddlebrown;
}
.Moringa{
    color: sienna;
}
.hobbies{
    color: tomato;
}
.img{
    text-align: center;
    background-color: slategrey;
}